.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 13px;

  margin-top: 30px;
}

.advantages-item {
  display: flex;
  align-items: center;
  gap: 15px;

  &:first-child {
    max-width: 178px;

    @media screen and (min-width: 1920px) {
      max-width: 400px;
    }
  }

  &:last-child {
    max-width: 218px;

    @media screen and (min-width: 1920px) {
      max-width: 400px;
    }
  }
}

.advantages-text {
  font-size: 18px;
  line-height: 27px;
}
