.icon-mtb {
  position: absolute;
  right: 0;
}

.icon-mbr {
  position: absolute;
  bottom: 0;
  right: 0;
}

.check-mcr {
  position: absolute;
  right: 50px;
  top: 365px;
}
.check-mlb {
  position: absolute;
  bottom: 230px;
}
