.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 15px;
}

.subscribe-btn {
  padding: 19px 82px;

  border-radius: 15px;
  border-color: transparent;
  cursor: pointer;
  text-transform: uppercase;

  font-size: 16px;
  line-height: 24px;
  color: $primary-text-color;
  background-color: $accent-color;
}

.subscribe-text {
  font-size: 14px;
  line-height: 21px;

  &-accent {
    font-weight: 700;
  }
}
