$primary-text-color: #2b2b2a;
$accent-text-color: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2b2b2a;
$accent-color: #e0ff00;
$accent-grey-color: #b7b7b7;

body {
  color: $primary-text-color;
  background-color: $primary-bg-color;
  font-family: "Roboto", sans-serif;
}
